#main-container {
    margin-top: 10px;
}

#icon-bar {
    display: flex;
    flex-direction: column;
    background: #dfdfdf;
    border: 1px solid #707070a0;
    border-left: 0px;

    .fa-sync-alt {
        font-size: 250%;
        margin-left: 17.5%;
    }
}

button:disabled {
    cursor: not-allowed;
}

.button-icon {
    cursor: pointer;
    font-size: 48px;
    margin: 5px 10px;
    text-align: center;
    color: #696969;

    &:hover {
        color: #000000;
    }
}

.no-padding {
    padding: 0;
}

.nested-icon-br {
    font-size: 8px;
    top: 12.5px;
    left: 22.5px !important;
}

#delete-container {
    left: 3px;
}

#path-gen-buttons {
    margin-bottom: 20px;
}

@include media-breakpoint-down(lg) {
    #settings-container {
        margin-top: 20px;
    }
}